<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTodoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21CA297F1C19C42B00398E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21CA29931C19C42C00398E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21CA299E1C19C42C00398E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
